<section class="content">
   <h2>Мы предоставляем</h2>

   <div class="content-slide left-slide">
      <div class="content-text">
         <span class="num">1</span>
         <h3>Замеры и проектирование</h3>
         <p>
            Важным этапом в заказе мебели занимает процесс планирования и проектирования.
            На данном этапе заказчик совместно с дизайнером подбирают стиль для будущей мебели,
            материалы и фурнитуру. Мебель должна органично вписываться с помещением,
            в котором планируется размещение мебели.
         </p>
      </div>
      <div class="content-image">
         <img src="/img/slide-1.jpg" alt="Замеры и Проектирование мебели" width="460" height="258">
      </div>
   </div>

   <div class="content-slide right-slide">
      <div class="content-text">
         <span class="num">2</span>
         <h3>Подсчет стоимости и Спецификация проекта</h3>
         <p>
            Расчет стоимости зависит от материалов, фурнитуры, деталей мебели.
            На основе подготволенной спецификации осуществляется Производственный процесс.
         </p>
      </div>
      <div class="content-image">
         <img src="/img/slide-2.jpg" alt="Подсчет стоимости мебели" width="460" height="373">
      </div>
   </div>

   <div class="content-slide left-slide">
      <div class="content-text">
         <span class="num">3</span>
         <h3>Производственный процесс</h3>
         <p>
            Изготовление мебельных заготовок на высокоточном современном оборудовании
            квалифицированными мастерами. Комлектование фурнитурой и отделкой.
         </p>
      </div>
      <div class="content-image">
         <img src="/img/slide-3.jpg" alt="Производственный процесс мебели" width="460" height="317">
      </div>
   </div>

   <div class="content-slide right-slide">
      <div class="content-text">
         <span class="num">4</span>
         <h3>Доставка</h3>
         <p>
            Полный цикл траспортировки мебели. Погрузка мебели и мебельных заготовок
            на грузовой автомобиль.
            Доставка по городу и области. Разгрузка мебели и занос на место сборки.
         </p>
      </div>
      <div class="content-image">
         <img src="/img/slide-4.jpg" alt="Доставка мебели" width="460" height="338">
      </div>
   </div>

   <div class="content-slide left-slide">
      <div class="content-text">
         <span class="num">5</span>
         <h3>Сборка</h3>
         <p>
            Опытные сборщики собираут качественно и красиво. Качественная сборка -
            залог долговременной эксплуатации мебели.
         </p>
      </div>
      <div class="content-image">
         <img src="/img/slide-5.jpg" alt="Сборка мебели" width="460" height="305">
      </div>
   </div>
</section>