<section class="content">
   <h2>Наши услуги</h2>

   <div class="content-slide left-slide slide-1">
      <div class="content-text">
         <div class="text-overlay">
            <div class="content-title">
               <span class="num">1</span>
               <h3>Замеры и проектирование</h3>
            </div>
            <p>
               Важным этапом в заказе мебели занимает процесс планирования и проектирования.
               На данном этапе заказчик совместно с дизайнером подбирают стиль для будущей мебели,
               материалы и фурнитуру. Мебель должна органично вписываться с помещением,
               в котором планируется размещение мебели.
            </p>
         </div>
      </div>
      <div class="content-image">
         <div class="image-overlay">
            <img src="/img/slide-1.jpg" alt="Замеры и Проектирование мебели" width="460" height="360">
         </div>
      </div>
   </div>

   <div class="content-slide right-slide slide-2">
      <div class="content-text">
         <div class="text-overlay">
            <div class="content-title">
               <span class="num">2</span>
               <h3>Подсчет стоимости и Спецификация проекта</h3>
            </div>
            <p>
               Расчет стоимости зависит от материалов, фурнитуры, деталей мебели.
               На основе подготволенной спецификации осуществляется Производственный процесс.
            </p>
         </div>
      </div>
      <div class="content-image">
         <div class="image-overlay">
            <img src="/img/slide-2.jpg" alt="Подсчет стоимости мебели" width="460" height="373">
         </div>
      </div>
   </div>

   <div class="content-slide left-slide slide-3">
      <div class="content-text">
         <div class="text-overlay">
            <div class="content-title">
               <span class="num">3</span>
               <h3>Производственный процесс</h3>
            </div>
            <p>
               Изготовление мебельных заготовок на высокоточном современном оборудовании
               квалифицированными мастерами. Комлектование фурнитурой и отделкой.
            </p>
         </div>
      </div>
      <div class="content-image">
         <div class="image-overlay">
            <img src="/img/slide-3.jpg" alt="Производственный процесс мебели" width="460" height="317">
         </div>
      </div>
   </div>

   <div class="content-slide right-slide slide-4">
      <div class="content-text">
         <div class="text-overlay">
            <div class="content-title">
               <span class="num">4</span>
               <h3>Доставка</h3>
            </div>
            <p>
               Полный цикл траспортировки мебели. Погрузка мебели и мебельных заготовок
               на грузовой автомобиль.
               Доставка по городу и области. Разгрузка мебели и занос на место сборки.
            </p>
         </div>
      </div>
      <div class="content-image">
         <div class="image-overlay">
            <img src="/img/slide-4.jpg" alt="Доставка мебели" width="460" height="338">
         </div>
      </div>
   </div>

   <div class="content-slide left-slide slide-5">
      <div class="content-text">
         <div class="text-overlay">
            <div class="content-title">
               <span class="num">5</span>
               <h3>Сборка</h3>
            </div>
            <p>
               Опытные сборщики собираут качественно и красиво. Качественная сборка -
               залог долговременной эксплуатации мебели.
            </p>
         </div>
      </div>
      <div class="content-image">
         <div class="image-overlay">
            <img src="/img/slide-5.jpg" alt="Сборка мебели" width="460" height="305">
         </div>
      </div>
   </div>
</section>