<section class="footer">
   <h2>Контакты</h2>
   <div class="footer-overlay">
      <div class="contact-map">
         <h3>Магазин</h3>
         <a href="//maps.google.com/maps?q=46.445879,30.710239+(Магазин мебели под заказ)&z=14&ll=46.445879,30.710239">
            <img src="/img/footer-map.jpg" width="400" height="311" alt="Магазин мебели под заказ">
         </a>
      </div>
      <div class="contact-list">
         <div class="contact-item">
            Телефон
         </div>
         <div class="contact-item">
            Адрес (на карте)
         </div>
         <div class="contact-item">
            Instagram
         </div>
         <div class="contact-item">
            E-Mail
         </div>
      </div>
      <div class="contact-form">
         <h3>Написать нам</h3>
         <p>Отправьте нам ваши вопросы и пожелания.</p>
         <form id="contact-form">
            <div class="field">
               <label for="email">Email</label>
               <input id="email" name="email" type="email"/>
            </div>
            <div class="field">
               <label for="name">Имя</label>
               <input id="name" name="name" type="text"/>
            </div>
            <div class="field">
               <label for="message">Сообщение</label>
               <textarea id="message" name="message"></textarea>
            </div>
            <input type="submit" value="Отправить сообщение" class="btn">
         </form>
      </div>
   </div>
</section>