<section class="footer">

   <div class="footer-overlay">
      <div class="contact-map footer-col">
         <h3>Магазин</h3>
         <a href="//maps.google.com/maps?q=<!-- @echo CONTACT_GOOGLE_MAP -->+(Магазин мебели под заказ)&z=14&ll=<!-- @echo CONTACT_GOOGLE_MAP -->">
            <img src="/img/footer-map.jpg" width="300" height="410" alt="Магазин мебели под заказ">
         </a>
      </div>
      <div class="contact-list footer-col">
         <h3>Контакты</h3>
         <div class="contact-items">
            <div class="contact-item">
               <span class="label">Телефон:</span>
               <span class="value">
               <a href="tel:<!-- @echo CONTACT_PHONE -->"><!-- @echo CONTACT_PHONE_FORMATTED --></a>
            </span>
            </div>
            <div class="contact-item">
               <span class="label">Адрес:</span>
               <span class="value">
                  г. Одесса,<br/>
                  Малиновский рынок<br/>
                  (
                  <a href="//maps.google.com/maps?q=<!-- @echo CONTACT_GOOGLE_MAP -->+(Магазин мебели под заказ)&z=14&ll=<!-- @echo CONTACT_GOOGLE_MAP -->">
                     на карте
                  </a>
                  )
            </span>
            </div>
            <div class="contact-item">
               <span class="label">Skype:</span>
               <span class="value">
               <a href="skype:<!-- @echo CONTACT_SKYPE -->?call"><!-- @echo CONTACT_SKYPE --></a>
            </span>
            </div>
            <div class="contact-item">
               <span class="label">Instagram:</span>
               <span class="value">
               <a href="<!-- @echo CONTACT_INSTAGRAM -->">Страница в Instagram</a>
            </span>
            </div>
            <div class="contact-item">
               <span class="label">E-Mail:</span>
               <span class="value">
               <a href="mailto:<!-- @echo CONTACT_EMAIL -->"><!-- @echo CONTACT_EMAIL --></a>
            </span>
            </div>
         </div>
      </div>
      <div class="contact-form footer-col">
         <h3>Написать</h3>
         <p>Отправьте нам ваши вопросы и пожелания.</p>
         <form id="contact-form">
            <div class="field">
               <label for="email">Email</label>
               <input id="email" name="email" type="email"/>
            </div>
            <div class="field">
               <label for="name">Имя</label>
               <input id="name" name="name" type="text"/>
            </div>
            <div class="field">
               <label for="message">Сообщение</label>
               <textarea id="message" name="message"></textarea>
            </div>
            <input type="submit" value="Отправить сообщение" class="btn btn-blue">
         </form>
      </div>
   </div>
</section>