<section class="header">
   <div class="header-overlay">
      <div class="title-overlay">
         <h1>Мебель сайт 5000грн</h1>
         <p>Кухни, Спальни, Шкафы-купе, Мягкая мебель</p>
      </div>
      <div class="contact-overlay">
         <div class="call-form-overlay">
            <h2>Обратный звонок</h2>
            <p>Отправьте нам ваш номер телефона и мы перезвоним вам в ближайшее время.</p>
            <form id="call-form">
               <div class="field">
                  <label for="phone">Номер телефона</label>
                  <input name="phone" id="phone" placeholder="+38(___)___-__-__"/>
               </div>
               <input type="submit" value="Перезвоните мне" class="action-btn btn">
            </form>
         </div>
      </div>
   </div>
</section>