.content {
  background-color: #eeeeee;
  color: #333333;

  h2 {
    margin: 0;
    padding: 60px 0 20px;
    text-align: center;
  }

  p {
    font-size: 20px;
  }
}

.h-decoration {
  width: 120px;
  margin: 0 auto 40px;
  border-color: #ff4771;
}

.content-title {
  display: flex;
  align-items: center;
}

.content-slide {
  display: flex;
  padding-bottom: 60px;
}

.content-text {
  width: 47%;
  padding: 20px;
  align-self: center;
}

.content-image {
  width: 53%;

  img {
    border-radius: 6px;
  }
}

.right-slide {
  flex-direction: row-reverse;

  .image-overlay {
    background: linear-gradient(-45deg, #ffa63d, #ff3d77);

    img {
      margin-right: 20px;
    }
  }

  .content-image {
    text-align: right;
  }

  .text-overlay {
    margin-left: 40px;
  }
}

.left-slide {
  .image-overlay {
    background: linear-gradient(-45deg, #338aff, #3cf0c5);

    img {
      margin-left: 20px;
    }
  }

  .content-text {
    display: flex;
    justify-content: end;
  }

  .text-overlay {
    margin-right: 40px;
  }
}

.image-overlay {
  margin-top: 40px;
  position: relative;
  height: calc(100% - 80px);

  img {
    margin-top: -40px;
    position: relative;
    box-shadow: #aaaaaa 4px 4px 12px;
  }
}

.num {
  font-size: 60px;
  margin-right: 20px;
}

.text-overlay {
  width: 460px;
}

@media (max-width: 1023px) {
  .content-slide,
  .right-slide {
    flex-direction: column;
  }

  .content-text {
    width: 600px;
    display: flex;
    justify-content: center;
  }

  .content-image {
    width: 100%;
    text-align: center;
  }

  .image-overlay {
    img {
      bottom: -20px;
    }
  }

  .right-slide {
    .content-image {
      text-align: center;
    }

    .text-overlay {
      margin-left: 0;
    }

    .image-overlay {
      img {
        margin-right: 0;
      }
    }
  }

  .left-slide {
    .content-text {
      justify-content: center;
    }

    .text-overlay {
      margin-right: 0;
    }

    .image-overlay {
      img {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 659px) {
  .content-text {
    width: 300px;
  }
}

@media (max-width: 479px) {
  .text-overlay {
    width: 300px;
  }

  .image-overlay {
    img {
      width: 300px;
      height: auto;
    }
  }
}