.footer {
  h2 {
    text-align: center;
    padding-top: 20px;
  }

  label {
    color: #eeeeee;
  }

  a {
    color: #72f2ff;
  }

  .field, .btn {
    width: 260px;
  }
}

.footer-overlay {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.footer-col {
  margin: 0 10px;
  width: 310px;
}

.contact-list {
  width: 300px;
}

.contact-items {

  .label {
    width: 80px;
  }

  .value {
    width: 200px;
  }
}

.contact-item {
  display: flex;
  margin: 30px 0;
}

@media (max-width: 1023px) {
  .footer-overlay {
    flex-direction: column;
    align-items: center;
  }
}