$element-width: 260px;

.action-btn {
  margin-top: 30px;
  width: $element-width;
  height: 80px;
  font-size: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 18px;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  animation: anime 16s linear infinite;
  cursor: pointer;
}

@keyframes anime {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.field {
  display: flex;
  flex-direction: column;
  width: $element-width;
}

#phone {
  font-size: 24px;
  padding: 14px 10px;
}

label {
  color: #777;
  text-align: left;
  font-size: 20px;
}